{% extends 'layouts/rules_layout.html' %} {% block title %}House of Cards | How
to Play{% endblock %} {% block content %}
<div class="rules-container p-12">
    <div
        class="flex flex-row gap-6 items-center border-b-[#dddddd]/25 border-b-4 pb-6 mb-6"
    >
        <a
            href="/"
            class="button-link text-4xl tracking-widest flex items-center gap-3 pt-6 pb-5 pl-7 hover:opacity-75"
        >
            <i class="fas fa-arrow-left text-3xl"></i>
        </a>
        <h1 class="harry-potter text-8xl tracking-widest">
            H<span class="text-6xl">ɸ</span>w t<span class="text-5xl">ɸ</span> Play?
        </h1>
    </div>

    <div class="p-4 border-b-[#dddddd]/25 border-b-4 pb-6 mb-6">
        <div class="flex flex-col gap-12">
            <div class="lucida-bright flex flex-col gap-3 tracking-normal">
                <div
                    class="flex flex-row justify-between py-8 px-16 items-center"
                >
                    <div class="text-xl flex flex-col gap-3">
                        <h1 class="harry-potter text-7xl tracking-wider mb-6">
                            C<span class="text-5xl">ɸ</span>mp<span
                                class="text-5xl"
                                >ɸ</span
                            >nent$
                        </h1>
                        <h1>
                            Total 100 cards divided into Numericals and
                            Specials.
                        </h1>
                        <h1>
                            80 Numerical cards: 4 houses (gryffindor, Raven,
                            Hufflepuff, Slytherin).
                        </h1>
                        <h1>Numerical Cards include 0-9.</h1>
                    </div>
                    <div class="grid grid-cols-3 gap-x-12 gap-y-4 pr-16">
                        <h1 class="text-8xl text-[#0594c3]">3</h1>
                        <h1 class="text-8xl text-[#c22727]">8</h1>
                        <h1 class="text-8xl text-[#d0a729]">2</h1>
                        <h1 class="text-8xl text-[#22a047]">4</h1>
                        <h1 class="text-8xl text-[#0594c3]">5</h1>
                        <h1 class="text-8xl text-[#d0a729]">9</h1>
                        <h1 class="text-8xl text-[#d0a729]">6</h1>
                        <h1 class="text-8xl text-[#c22727]">1</h1>
                        <h1 class="text-8xl text-[#22a047]">7</h1>
                    </div>
                </div>
            </div>

            <div class="lucida-bright flex flex-col gap-3 tracking-normal">
                <div
                    class="flex flex-row-reverse justify-between py-8 px-16 items-center"
                >
                    <div class="text-xl flex flex-col gap-3">
                        <h1 class="harry-potter text-7xl tracking-wider mb-6">
                            $pecial Card$
                        </h1>
                        <h1>
                            20 Special cards: 4 per house (Hallows, Shield,
                            Echo, Mirror, Swap)
                        </h1>
                        <h1>
                            Shield – Cancels the effect of Echo or Mirror just
                            played.
                        </h1>
                        <h1>
                            Echo – Next number card played counts double toward
                            the sum.
                        </h1>
                        <h1>
                            Mirror – Add the same number as the last played
                            number card.
                        </h1>
                        <h1>
                            Shift – Swap one hand card with the top card of your
                            deck.
                        </h1>
                        <h1>
                            Hallows – Instantly hit the limit; others draw two,
                            you reshuffle.
                        </h1>
                    </div>
                    <div
                        class="grid grid-cols-2 gap-x-8 items-center justify-center gap-y-10 pl-16"
                    >
                        <img
                            src="/static/icons/mirror_slytherin.png"
                            alt="mirror_slytherin"
                            class="w-36 h-42 object-fit"
                        />
                        <img
                            src="/static/icons/echo_ravenclaw.png"
                            alt="echo_ravenclaw"
                            class="w-42 h-36 object-fit"
                        />
                        <img
                            src="/static/icons/shield_hufflepuff.png"
                            alt="shield_hufflepuff"
                            class="w-40 h-40 object-fit"
                        />
                        <img
                            src="/static/icons/swap_gryffindor.png"
                            alt="swap_gryffindor"
                            class="w-40 h-40 object-fit"
                        />
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="p-4 border-b-[#dddddd]/25 border-b-4 pb-6 mb-6">
        <div class="flex flex-col gap-12">
            <div class="lucida-bright flex flex-col gap-3 tracking-normal">
                <div
                    class="flex flex-row justify-between py-8 px-16 items-center"
                >
                    <div class="flex flex-col gap-4">
                        <h1 class="harry-potter text-7xl tracking-wider mb-6">$etup</h1>
                        <div class="flex flex-row gap-16">
                            <div
                                class="text-xl flex flex-col gap-3 leading-relaxed"
                            >
                                <ol>
                                    <li>Choose player count (2–4).</li>
                                    <li>Set target based on players:</li>
                                    <li class="pl-8">
                                        - For 2 players → target = 15
                                    </li>
                                    <li class="pl-8">
                                        - For 3 players → target = 21
                                    </li>
                                    <li class="pl-8">
                                        - For 4 players → target = 25
                                    </li>
                                </ol>
                            </div>
                            <div
                                class="text-xl flex flex-col gap-3 leading-relaxed"
                            >
                                <ol>
                                    <li>Distribute each player x cards:</li>
                                    <li>Set target based on players:</li>
                                    <li class="pl-8">
                                        - For 2 players → x = 15 each
                                    </li>
                                    <li class="pl-8">
                                        - For 3 players → x = 12 each
                                    </li>
                                    <li class="pl-8">
                                        - For 4 players → x = 10 each
                                    </li>
                                </ol>
                            </div>
                        </div>
                    </div>
                    <img
                        src="/static/icons/target_base.png"
                        alt="target_icon"
                        class="w-48 h-48 object-fit mr-16"
                    />
                </div>
            </div>

            <div
                class="lucida-bright flex flex-col gap-3 tracking-normal text-center my-8"
            >
                <h1 class="text-xl">
                    Each player looks at their cards once, then shuffles and
                    places them face down as their personal deck.
                </h1>
                <h1 class="text-xl">
                    Finally each player draws the top two cards to form their
                    hand. The rest stay face down beside them.
                </h1>
            </div>
        </div>
    </div>

    <div class="p-4 border-b-[#dddddd]/25 border-b-4 pb-6 mb-6">
        <div class="flex flex-col gap-12">
            <div class="text-center">
                <h1 class="harry-potter text-7xl tracking-wider">
                    R<span class="text-5xl">ɸ</span>und Play
                </h1>
            </div>

            <div class="lucida-bright flex flex-col gap-3 tracking-normal">
                <div
                    class="flex flex-row justify-between pb-8 px-16 items-center"
                >
                    <div class="text-xl flex flex-col gap-3 w-2/3">
                        <h1 class="harry-potter text-7xl tracking-wider mb-6">
                            $tart <span class="text-5xl">ɸ</span>f R<span class="text-5xl">ɸ</span>und
                        </h1>
                        <h1>Current round target is now zero (0).</h1>
                        <h1>
                            Draw one random card from leftover deck, reveal it,
                            and add its value to current sum. Place this card in
                            a round discard pile.
                        </h1>
                        <h1>Turn order: Play proceeds clockwise.</h1>
                        <h1>
                            On your turn, play one card from your hand face up
                            to the round discard pile, add its value to current
                            sum, then check:
                        </h1>
                    </div>
                    <img
                        src="/static/cards/z_base_card.png"
                        alt="random_base_card"
                        class="w-1/5 h-1/5 mr-16"
                    />
                </div>

                <div
                    class="flex flex-row-reverse justify-between py-8 px-16 items-center"
                >
                    <div class="text-xl flex flex-col gap-3 w-2/3">
                        <h1 class="harry-potter text-7xl tracking-wider mb-6">$um Check</h1>
                        <div class="flex flex-col gap-2 pb-5">
                            <h1>If sum is less than target (sum < target):</h1>
                            <p class="pl-8">- Next player plays</p>
                        </div>
                        <div class="flex flex-col gap-2 pb-5">
                            <h1>If sum equal to target (sum = target):</h1>
                            <p class="pl-8">
                                - All other players draw extra 2 cards each from
                                leftover deck without looking and add them to
                                their personal deck.
                            </p>
                            <p class="pl-8">
                                - The player who exactly hit limit may choose to
                                reshuffle their personal deck but will not draw
                                2 new cards, instead after shuffling will pick
                                two from their set (rest remain face down).
                            </p>
                            <p class="pl-8">- New round begins.</p>
                        </div>
                        <div class="flex flex-col gap-2">
                            <h1>
                                If sum is greater than target (sum > target):
                            </h1>
                            <p class="pl-8">
                                - The player who exceeded draws cards equal to
                                the value they just played from leftover deck,
                                adds them to personal deck.
                            </p>
                            <p class="pl-8">
                                - This player can choose to reshuffle their
                                personal deck, and after shuffling will pick two
                                from their set (rest remain face down).
                            </p>
                            <p class="pl-8">- New round begins.</p>
                        </div>
                    </div>
                    <img
                        src="/static/icons/z_random_stack.png"
                        alt="random_stacked_card"
                        class="w-1/3 h-1/3 mr-16"
                    />
                </div>

                <div class="lucida-bright flex flex-col gap-3 tracking-normal">
                    <div
                        class="flex flex-row justify-between py-8 px-16 items-center"
                    >
                        <div class="text-xl flex flex-col gap-3 w-1/2">
                            <h1 class="harry-potter text-7xl tracking-wider mb-6">
                                H<span class="text-5xl">ɸ</span>u$e Effect
                            </h1>
                            <h1 class="leading-relaxed">
                                The game will track which house card the player
                                has plays. If the same house card is played 3
                                consecutive times in the same round by the same
                                player, the player can remove/discard one of the
                                two cards in thier hands back in to the leftover
                                deck (not personal deck).
                            </h1>
                        </div>
                        <div class="grid grid-cols-2 gap-8 pr-16">
                            <img
                                src="/static/icons/color_gryffindor.png"
                                alt="color_gryffindor"
                                class="w-48 h-48 object-fit"
                            />
                            <img
                                src="/static/icons/color_hufflepuff.png"
                                alt="color_hufflepuff"
                                class="w-48 h-48 object-fit"
                            />
                            <img
                                src="/static/icons/color_ravenclaw.png"
                                alt="color_ravenclaw"
                                class="w-48 h-48 object-fit"
                            />
                            <img
                                src="/static/icons/color_slytherin.png"
                                alt="color_slytherin"
                                class="w-48 h-48 object-fit"
                            />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="p-4 border-b-[#dddddd]/25 border-b-4 pb-6 mb-6">
        <div class="flex flex-col gap-12">
            <div class="lucida-bright flex flex-col gap-3 tracking-normal">
                <div
                    class="flex flex-row gap-32 justify-between py-8 px-16 items-center"
                >
                    <div class="flex flex-col gap-4 w-2/3">
                        <h1 class="harry-potter text-7xl tracking-wider mb-6">
                            $tarting a New R<span class="text-5xl">ɸ</span>und
                        </h1>
                        <div class="flex flex-row gap-16">
                            <div
                                class="text-xl flex flex-col gap-3 leading-relaxed"
                            >
                                <h1>
                                    Move all cards in round discard pile to the
                                    bottom of the leftover deck.
                                </h1>
                                <h1>Reset current sum = 0.</h1>
                                <h1>
                                    Draw a new starting card from leftover deck
                                    (as above).
                                </h1>
                                <h1>
                                    Players do not draw new hands unless
                                    specified above — they keep playing with
                                    cards in hand until they need to draw from
                                    personal deck.
                                </h1>
                            </div>
                        </div>
                    </div>
                    <img
                        src="/static/cards/z_base_card.png"
                        alt="random_base_card"
                        class="w-1/5 h-1/5 object-fit mr-16"
                    />
                </div>
            </div>

            <div class="lucida-bright flex flex-col gap-3 tracking-normal">
                <div
                    class="flex flex-row-reverse gap-32 justify-between py-8 px-16 items-center"
                >
                    <div class="flex flex-col gap-4 w-2/3">
                        <h1 class="harry-potter text-7xl tracking-wider mb-6">
                            Drawing Card$ int<span class="text-5xl">ɸ</span> Hand
                        </h1>
                        <div class="flex flex-row gap-16">
                            <div
                                class="text-xl flex flex-col gap-3 leading-relaxed"
                            >
                                <h1>
                                   Whenever a card is played from your hand, pick the top card from your personal deck into your hand.
                                </h1>
                                <h1>If personal deck runs out, you cannot draw more — last cards in hand are your final plays, hinting that you are closer to victory.</h1>
                            </div>
                        </div>
                    </div>
                    <img
                        src="/static/icons/z_random_square.png"
                        alt="random_squared_cards"
                        class="w-1/5 h-1/5 object-fit mr-16"
                    />
                </div>
            </div>

            <div class="lucida-bright flex flex-col gap-3 tracking-normal">
                <div
                    class="flex flex-row gap-32 justify-between py-8 px-16 items-center"
                >
                    <div class="flex flex-col gap-4 w-2/3">
                        <h1 class="harry-potter text-7xl tracking-wider mb-6">
                            Winning the Game
                        </h1>
                        <div class="flex flex-row gap-16">
                            <div
                                class="text-xl flex flex-col gap-3 leading-relaxed"
                            >
                                <h1>
                                   The first player to play all cards from their personal deck and hand wins immediately.
                                </h1>
                            </div>
                        </div>
                    </div>
                    <img
                        src="/static/icons/color_alpha.png"
                        alt="color_alpha"
                        class="w-1/5 h-1/5 object-fit mr-16"
                    />
                </div>
            </div>
        </div>
    </div>

     <div class="p-4">
        <div class="flex flex-col gap-12">
            <div class="text-center">
                <h1 class="harry-potter text-7xl tracking-wider">
                    C<span class="text-5xl">ɸ</span>mpani<span class="text-5xl">ɸ</span>n$
                </h1>
            </div>

            <div class="lucida-bright flex flex-col gap-3 tracking-normal">
                <div
                    class="flex flex-row justify-between pb-8 px-16 items-center"
                >
                    <div class="text-xl flex flex-col gap-3 w-1/2">
                        <h1 class="harry-potter text-7xl tracking-wider mb-6">
                            Ch<span class="text-5xl">ɸɸ</span>$e number <span class="text-5xl">ɸ</span>f B<span class="text-5xl">ɸ</span>t$
                        </h1>
                        <h1>
                            Play against 1-3 bots or simulate a 4 bot game to learn how the rules and how the game plays out.
                        </h1>
                         <h1>
                            Dobby, Hedwig, Scabbers, Crookshanks are eager to know how you approach the magical cards. 
                        </h1>
                    </div>
                    <div class="grid grid-cols-2 gap-8 pr-16">
                            <img
                                src="/static/icons/x_color_crookshanks.png"
                                alt="x_color_crookshanks"
                                class="w-48 h-48 object-fit"
                            />
                            <img
                                src="/static/icons/x_color_dobby.png"
                                alt="x_color_dobby"
                                class="w-48 h-48 object-fit"
                            />
                            <img
                                src="/static/icons/x_color_hedwig.png"
                                alt="x_color_hedwig"
                                class="w-48 h-48 object-fit"
                            />
                            <img
                                src="/static/icons/x_color_scabbers.png"
                                alt="x_color_scabbers"
                                class="w-48 h-48 object-fit"
                            />
                        </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
