{% extends 'layouts/game_layout.html' %} {% block title %}House of Cards | PvE |
1 Bot | Game{% endblock %} {% block content %}
<div
    id="timer-indicator"
    class="fixed top-0 left-0 w-full h-3 bg-[var(--bg)] z-[999999999]"
>
    &nbsp;
</div>
<div
    id="timer-indicator-bg"
    class="fixed top-0 left-0 w-full h-3 bg-[var(--fg)] z-[99999999]"
>
    &nbsp;
</div>

<div class="game-container">
    <div id="bot-icon" class="hidden absolute top-5 left-5 items-center gap-3">
        <div class="relative flex flex-col gap-4 justify-center">
            <img
                src="{{ bot1ImageSrc }}"
                alt="{{ bot1Name }} icon"
                class="w-1/2 h-1/2"
            />
        </div>
    </div>

    <div
        id="bots-cards-recieved"
        class="flex flex-col justify-center items-center gap-4 w-full"
    >
        <div class="flex flex-row gap-6 items-center justify-center">
            {% for card in botRecievedCards %}
            <div class="bot-cards">
                <img
                    src="{{ card.src }}"
                    alt="{{ card.house }} {{ card.name }}"
                    class="rotate-180 w-[170.666px] h-[238.666px]"
                    data-card-id="{{ card.id }}"
                    data-card-name="{{ card.name }}"
                    data-card-house="{{ card.house }}"
                    data-card-value="{{ card.value }}"
                />
            </div>
            {% endfor %}
        </div>
    </div>

    <div
        id="bots-cards-stack"
        class="hidden flex-col-reverse items-center gap-4 absolute top-5 right-5"
    >
        <p class="harry-potter heading tracking-widest">
            {{ botRecievedCards|length }} left
        </p>
        <img
            src="../../../../../../static/cards/z_base_card.png"
            alt="random_card"
            class="rotate-180 w-[170.666px] h-[238.666px]"
        />
    </div>

    <div class="relative w-full h-64">
        <img
            src="../../../../../../static/cards/z_base_card.png"
            alt="random_card"
            class="rotate-90 absolute left-12 top-1/2 transform -translate-y-1/2 w-[170.666px] h-[238.666px]"
        />

        <h1
            class="harry-potter text-8xl tracking-widest absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2"
        >
            0
        </h1>

        <h1
            class="harry-potter text-8xl tracking-widest absolute top-1/2 right-0 transform -translate-y-1/2"
        >
            >19<
        </h1>
    </div>

    <div
        id="player-cards-stack"
        class="hidden flex-col items-center gap-4 absolute bottom-5 right-5"
    >
        <p class="harry-potter heading tracking-widest">
            {{ playerRecievedCards|length }} left
        </p>
        <img
            src="../../../../../../static/cards/z_base_card.png"
            alt="random_card"
            class="w-[170.666px] h-[238.666px]"
        />
    </div>

    <div
        id="player-cards-recieved"
        class="flex flex-col justify-center items-center w-full gap-4"
    >
        <div class="flex flex-row gap-6 items-center justify-center">
            {% for card in playerRecievedCards %}
            <div class="player-cards">
                <img
                    src="{{ card.src }}"
                    alt="{{ card.house }} {{ card.name }}"
                    class="w-[170.666px] h-[238.666px]"
                    data-card-id="{{ card.id }}"
                    data-card-name="{{ card.name }}"
                    data-card-house="{{ card.house }}"
                    data-card-value="{{ card.value }}"
                />
            </div>
            {% endfor %}
        </div>
    </div>

    <div
        id="bot-hand-cards"
        class="hidden flex-row gap-8 justify-center items-center absolute top-0 left-0 w-full pt-4"
    ></div>

    <div
        id="player-hand-cards"
        class="hidden flex-row gap-8 justify-center items-center absolute bottom-0 left-0 w-full pb-4"
    ></div>

    <script src="../../../../../../static/scripts/1BotGame.js"></script>
    {% endblock %}
</div>
