{% extends 'layouts/game_layout.html' %} {% block title %}House of Cards | PvE |
1 Bot | Game{% endblock %} {% block content %}

<!----------------------------------------------------------------------- Timer ----------------------------------------------------------------------->

<!----------------------------------------------------------------------- Timer ----------------------------------------------------------------------->

<div
    id="timer-indicator"
    class="fixed top-0 left-0 w-full h-3 bg-[var(--bg)] z-[999999999]"
>
    &nbsp;
</div>
<div
    id="timer-indicator-bg"
    class="fixed top-0 left-0 w-full h-3 bg-[var(--fg)] z-[99999999]"
>
    &nbsp;
</div>

<!----------------------------------------------------------------------- Timer ----------------------------------------------------------------------->

<!----------------------------------------------------------------------- Timer ----------------------------------------------------------------------->

<!----------------------------------------------------------------------- Debug ----------------------------------------------------------------------->

<!-- 
<div
    style="
        position: fixed;
        top: 50px;
        left: 0;
        background: red;
        color: white;
        z-index: 10000;
        padding: 10px;
    "
>
    target_limit from template: {{ target_limit }}<br />
    simulation_speed from template: {{ simulation_speed }}
</div> -->

<div
    id="bot"
    class="hidden w-96 absolute top-0 left-0 items-center gap-4 scale-75"
>
    <div
        id="bot-deck"
        class="flex flex-col-reverse justify-center items-center gap-4 w-1/2"
    >
        <p class="harry-potter heading tracking-widest" id="bot-cards-count">
            {{ bot_cards|length }} left
        </p>
        <img
            src="/static/cards/z_base_card.png"
            alt="random_card"
            class="rotate-180 w-[170.666px] h-[238.666px]"
        />
    </div>
    <div class="relative flex flex-col gap-4 items-center justify-center w-1/2">
        <p class="harry-potter text-4xl heading tracking-widest">
            {{ bot_name }}
        </p>
        <img src="{{ bot_image }}" alt="bot-icon" class="h-[70%] w-[70%]" />
    </div>
</div>

<div
    id="player"
    class="hidden w-96 absolute bottom-0 right-0 items-center gap-4 scale-75"
>
    <div class="relative flex flex-col gap-4 items-center justify-cent  er w-1/2">
        <img
            src="{{ player_avatar }}"
            alt="player-icon"
            class="h-[70%] w-[70%] rounded-full border-white border-4"
        />
        <p class="harry-potter text-4xl heading tracking-widest">
            {{ player_name }}
        </p>
    </div>
    <div
        id="player-deck"
        class="flex flex-col justify-center items-center gap-4 w-1/2"
    >
        <p class="harry-potter heading tracking-widest" id="player-cards-count">
            {{ player_cards|length }} left
        </p>
        <img
            src="/static/cards/z_base_card.png"
            alt="random_card"
            class="w-[170.666px] h-[238.666px]"
        />
    </div>
</div>

<!-- ------------------------------------------------------------------------------------------- -->

<div class="game-container">
    <div
        id="bot-cards-received"
        class="flex flex-col justify-center items-center gap-4 w-full"
    >
        <div class="flex flex-row gap-6 items-center justify-center">
            {% for card in bot_cards %}
            <div class="bot-cards">
                <img
                    src="{{ card.src }}"
                    alt="{{ card.house }} {{ card.name }}"
                    class="rotate-180 w-[170.666px] h-[238.666px]"
                    data-card-id="{{ card.id }}"
                    data-card-name="{{ card.name }}"
                    data-card-house="{{ card.house }}"
                    data-card-value="{{ card.value }}"
                />
            </div>
            {% endfor %}
        </div>
    </div>

    <div class="relative w-full h-64">
        <img
            src="/static/cards/z_base_card.png"
            alt="random_card"
            class="rotate-90 absolute left-12 top-1/2 transform -translate-y-1/2 w-[170.666px] h-[238.666px]"
        />

        <h1
            id="currentValue"
            class="harry-potter text-8xl tracking-widest absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2"
        >
            0
        </h1>

        <h1
            id="targetValue"
            class="harry-potter text-8xl tracking-widest absolute top-1/2 right-0 transform -translate-y-1/2"
        >
            -->{{ target_value|default(19) }}<--
        </h1>
    </div>

    <div
        id="player-cards-received"
        class="flex flex-col justify-center items-center w-full gap-4"
    >
        <div class="flex flex-row gap-6 items-center justify-center">
            {% for card in player_cards %}
            <div class="player-cards">
                <img
                    src="{{ card.src }}"
                    alt="{{ card.house }} {{ card.name }}"
                    class="w-[170.666px] h-[238.666px]"
                    data-card-id="{{ card.id }}"
                    data-card-name="{{ card.name }}"
                    data-card-house="{{ card.house }}"
                    data-card-value="{{ card.value }}"
                />
            </div>
            {% endfor %}
        </div>
    </div>

    <div
        id="bot-hand-cards"
        class="hidden flex-row gap-8 justify-center items-center absolute top-0 left-0 w-full pt-4"
    ></div>

    <div
        id="player-hand-cards"
        class="hidden flex-row gap-8 justify-center items-center absolute bottom-0 left-0 w-full pb-4"
    ></div>

    <script src="/static/scripts/1BotGame.js"></script>
</div>
{% endblock %}
