@import url('https://fonts.googleapis.com/css2?family=Playwrite+RO:wght@100..400&display=swap');

@import "tailwindcss";

:root {
  --background: #3e2a49;
  --foreground: #dddddd;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #3e2a49;
    --foreground: #dddddd;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.playwrite-romania {
  font-family: "Playwrite RO", cursive;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
}