{% extends 'layouts/game_layout.html' %} {% block title %}House of Cards | PvE |
1 Bot | Game{% endblock %} {% block content %}

<!----------------------------------------------------------------------- Timer ----------------------------------------------------------------------->

<!----------------------------------------------------------------------- Timer ----------------------------------------------------------------------->

<div
    id="timer-indicator"
    class="fixed top-0 left-0 w-full h-3 bg-[var(--bg)] z-[999999999]"
>
    &nbsp;
</div>
<div
    id="timer-indicator-bg"
    class="fixed top-0 left-0 w-full h-3 bg-[var(--fg)] z-[99999999]"
>
    &nbsp;
</div>

<!----------------------------------------------------------------------- Timer ----------------------------------------------------------------------->

<!----------------------------------------------------------------------- Timer ----------------------------------------------------------------------->

<!----------------------------------------------------------------------- Dobby ----------------------------------------------------------------------->

{% for bot_key, bot in bots.items() %}
<div class="bot-container">
    <p class="lucida-bright text-2xl uppercase tracking-wider">
        {{ bot.name }}
    </p>

    <img src="{{ bot.image_src }}" class="h-[70%] w-[70%]" />

    <p class="harry-potter heading tracking-wide">
        {{ bot.cards|length }}
        <span class="lucida-bright text-3xl">left</span>
    </p>
</div>
{% endfor %}

<!------------------------------------------------------------------------- Hand ----------------------------------------------------------------------->

<!------------------------------------------------------------------------- Hand ----------------------------------------------------------------------->

{% for bot_key, bot in bots.items() %}
<div
    id="bot_{{ bot_key }}_hand_cards"
    class="flex flex-row gap-8 items-center absolute"
></div>
{% endfor %}

<!------------------------------------------------------------------------- Hand ----------------------------------------------------------------------->

<!------------------------------------------------------------------------- Hand ----------------------------------------------------------------------->

<!------------------------------------------------------------------ Game Container ---------------------------------------------------------------------------->

<!------------------------------------------------------------------ Game Container ---------------------------------------------------------------------------->

<div class="game-container">
    <div
        class="relative w-full h-64 flex flex-row justify-between items-center px-16"
    >
        {% for card in leftover_deck %}
        <div class="leftover_deck hidden">
            <img
                src="{{ card.src }}"
                alt="{{ card.house }} {{ card.name }}"
                class="rotate-90 w-[187.733px] h-[262.533px] invisible"
                data-card-id="{{ card.id }}"
                data-card-name="{{ card.name }}"
                data-card-house="{{ card.house }}"
                data-card-value="{{ card.value }}"
            />
        </div>
        {% endfor %}
        <img
            src="../../../../../../static/cards/z_base_card.png"
            alt="random_card"
            class="rotate-90 w-[187.733px] h-[262.533px]"
        />

        <h1
            id="current_value"
            class="ml-64 harry-potter text-8xl tracking-widest"
        >
            0
        </h1>

        <div class="flex flex-col items-center gap-4">
            <div class="flex items-center">
                <span class="harry-potter text-8xl">--</span>
                <span class="harry-potter text-6xl -rotate-90 inline-block ml-2"
                    >V</span
                >
                <h1
                    id="target_value"
                    class="harry-potter text-8xl tracking-widest ml-4"
                >
                    27
                </h1>
                <span class="harry-potter text-6xl rotate-90 inline-block mr-1"
                    >V</span
                >
                <span class="harry-potter text-8xl">--</span>
            </div>

            <div class="flex items-center gap-4">
                <span class="lucida-bright uppercase text-2xl tracking-widest"
                    >Round</span
                >
                <span id="current_round" class="harry-potter text-4xl">1</span>
            </div>
        </div>
    </div>
</div>

<!------------------------------------------------------------------ Game Container ---------------------------------------------------------------------------->

<!------------------------------------------------------------------ Game Container ---------------------------------------------------------------------------->
<script>
    const ACTIVE_BOTS = {{ bots.keys()|list|tojson|safe if bots is defined else '[]' }};
</script>

<script type="module" src="../../../../static/scripts/simulate.js"></script>
{% endblock %}
