{% extends 'layouts/home_layout.html' %} {% block title %}House of Cards{%
endblock %} {% block content %}
<div class="non-game-container z-50">
    <h1 class="harry-potter title tracking-widest">
        H<span class="text-6xl">ɸ</span>u$e <span class="text-6xl">ɸ</span>f
        Card$
    </h1>
    <div class="flex flex-col gap-6 items-center justify-center">
        <a
            href="/play/pvp"
            class="button-link uppercase hover:opacity-75 lucida-bright text-3xl tracking-widest"
            >Play against Players</a
        >
        <a
            href="/play/pve"
            class="button-link uppercase hover:opacity-75 lucida-bright text-3xl tracking-widest"
            >Play against Bots</a
        >
        <a
            href="/how-to-play"
            class="button-link uppercase hover:opacity-75 lucida-bright text-3xl tracking-widest"
            >Game Rules</a
        >
    </div>
</div>

<img
    src="/static/icons/color_gryffindor.png"
    alt="color_gryffindor"
    class="absolute bottom-4 left-4 w-48 h-48"
/>
<img
    src="/static/icons/color_hufflepuff.png"
    alt="color_hufflepuff"
    class="absolute top-4 left-4 w-48 h-48"
/>
<img
    src="/static/icons/color_ravenclaw.png"
    alt="color_ravenclaw"
    class="absolute top-4 right-4 w-48 h-48"
/>
<img
    src="/static/icons/color_slytherin.png"
    alt="color_slytherin"
    class="absolute bottom-4 right-4 w-48 h-48"
/>

{% endblock %}
