@import "tailwindcss";
@import "tw-animate-css";

:root {
    --bg: #262626;
    --fg: #dddddd;
    --ac: #2b74a8;

    --gf: #c22727;
    --hf: #d0a729;
    --rn: #0594c3;
    --sl: #22a047;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*::selection {
    background-color: transparent;
}

body {
    color: var(--fg);
}

a {
    text-decoration: none;
    color: inherit;
}

.harry-potter {
    font-family: "Harry P", cursive;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
}

.lucida-bright {
    font-family: "Lucida Bright", serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
}

.title {
    color: var(--fg);
    font-size: 8rem;
    line-height: 1;
    font-weight: 700;
}

.heading {
    color: var(--fg);
    font-size: 3rem;
    line-height: 1;
    font-weight: 700;
}

.button-link {
    width: fit-content;
    padding: 0.75rem 1.5rem;
    border-radius: 50px;
    color: var(--bg);
    background-color: var(--fg);
    font-weight: 600;
    transition: all 200ms;
}

.non-game-container {
    background-color: var(--bg);
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 4rem;
}
