<img
    id="crookshanks"
    src="{{ url_for('static', filename='icons/x_color_crookshanks.png') }}"
    class="house-icon w-40 h-40 absolute"
    alt="Gryffindor"
/>
<img
    id="dobby"
    src="{{ url_for('static', filename='icons/x_color_dobby.png') }}"
    class="house-icon w-40 h-40 absolute"
    alt="Hufflepuff"
/>
<img
    id="hedwig"
    src="{{ url_for('static', filename='icons/x_color_hedwig.png') }}"
    class="house-icon w-40 h-40 absolute"
    alt="Ravenclaw"
/>
<img
    id="trevor"
    src="{{ url_for('static', filename='icons/x_color_trevor.png') }}"
    class="house-icon w-40 h-40 absolute"
    alt="Slytherin"
/>

<script
    type="module"
    src="{{ url_for('static', filename='scripts/bot-icons.js') }}"
></script>
