<img
    id="gryffindor"
    src="{{ url_for('static', filename='icons/color_gryffindor.png') }}"
    class="house-icon w-48 h-48 absolute"
    alt="Gryffindor"
/>
<img
    id="hufflepuff"
    src="{{ url_for('static', filename='icons/color_hufflepuff.png') }}"
    class="house-icon w-48 h-48 absolute"
    alt="Hufflepuff"
/>
<img
    id="ravenclaw"
    src="{{ url_for('static', filename='icons/color_ravenclaw.png') }}"
    class="house-icon w-48 h-48 absolute"
    alt="Ravenclaw"
/>
<img
    id="slytherin"
    src="{{ url_for('static', filename='icons/color_slytherin.png') }}"
    class="house-icon w-48 h-48 absolute"
    alt="Slytherin"
/>

<script
    type="module"
    src="{{ url_for('static', filename='scripts/house-icons.js') }}"
></script>
