{% extends 'layouts/home_layout.html' %} {% block title %}House of Cards |
Simulate | Configure Simulation{% endblock %} {% block content %}
<div class="non-game-container">
    <div class="flex items-center justify-center flex-row gap-6">
        <h1 class="harry-potter title tracking-widest">
            C<span class="text-7xl">ɸ</span>nfigure $imulati<span
                class="text-7xl"
                >ɸ</span
            >n
        </h1>
    </div>

    <div class="grid grid-cols-2 gap-16 items-stretch max-w-7xl mx-auto mt-8">
        <div class="flex flex-col gap-8 h-96">
            <div class="flex flex-col gap-4 flex-1">
                <h1
                    class="lucida-bright uppercase text-3xl tracking-wider text-center"
                >
                    1. Choose number of Bots
                </h1>
                <select
                    id="botCount"
                    class="button-link text-3xl uppercase hover:opacity-75 lucida-bright tracking-widest w-full py-4 text-center"
                >
                    <option value="">Number of bots &nbsp;</option>
                    <option value="2">2 Bots - Head to Head</option>
                    <option value="3">3 Bots - Three's a Crowd</option>
                    <option value="4">4 Bots - Free For All</option>
                </select>
            </div>

            <div class="flex flex-col gap-4 flex-1">
                <h1
                    class="lucida-bright uppercase text-3xl tracking-wider text-center"
                >
                    2. Choose Target Limit
                </h1>
                <select
                    id="limitSelect"
                    class="button-link text-3xl uppercase hover:opacity-75 lucida-bright tracking-widest w-full py-4 text-center"
                >
                    <option value="">Target limit &nbsp;</option>
                    <option value="19">19 (Quick Rounds)</option>
                    <option value="21">21 (Fast)</option>
                    <option value="23">23 (Fast - 3v3 Ideal)</option>
                    <option value="27">27 (Standard Rounds)</option>
                    <option value="29">29 (Standard)</option>
                    <option value="33">33 (Extended - 4v4 Ideal)</option>
                    <option value="37" selected>37 (Default)</option>
                    <option value="39">39 (Marathon)</option>
                </select>
            </div>
        </div>

        <div class="flex flex-col gap-8 h-96">
            <div class="flex flex-col gap-4 flex-1">
                <h1
                    class="lucida-bright uppercase text-3xl tracking-wider text-center"
                >
                    3. Choose bots to simulate
                </h1>
                <div class="grid grid-cols-4 gap-4 justify-items-center">
                    <label
                        class="bot-option flex flex-col justify-center items-center"
                    >
                        <input
                            type="checkbox"
                            name="bot"
                            value="crookshanks"
                            hidden
                        />
                        <img
                            src="/static/icons/x_color_crookshanks.png"
                            class="bot-img p-2 w-32 h-32 hover:scale-105 transition-transform"
                        />
                        <span
                            class="lucida-bright text-xl mt-2 block capitalize"
                            >crookshanks</span
                        >
                    </label>

                    <label
                        class="bot-option flex flex-col justify-center items-center"
                    >
                        <input
                            type="checkbox"
                            name="bot"
                            value="dobby"
                            hidden
                        />
                        <img
                            src="/static/icons/x_color_dobby.png"
                            class="bot-img p-2 w-32 h-32 hover:scale-105 transition-transform"
                        />
                        <span
                            class="lucida-bright text-xl mt-2 block capitalize"
                            >dobby</span
                        >
                    </label>

                    <label
                        class="bot-option flex flex-col justify-center items-center"
                    >
                        <input
                            type="checkbox"
                            name="bot"
                            value="hedwig"
                            hidden
                        />
                        <img
                            src="/static/icons/x_color_hedwig.png"
                            class="bot-img p-2 w-32 h-32 hover:scale-105 transition-transform"
                        />
                        <span
                            class="lucida-bright text-xl mt-2 block capitalize"
                            >Hedwig</span
                        >
                    </label>

                    <label
                        class="bot-option flex flex-col justify-center items-center"
                    >
                        <input
                            type="checkbox"
                            name="bot"
                            value="trevor"
                            hidden
                        />
                        <img
                            src="/static/icons/x_color_trevor.png"
                            class="bot-img p-2 w-32 h-32 hover:scale-105 transition-transform"
                        />
                        <span
                            class="lucida-bright text-xl mt-2 block capitalize"
                            >trevor</span
                        >
                    </label>
                </div>
            </div>

            <div class="flex flex-col gap-4 flex-1">
                <h1
                    class="lucida-bright uppercase text-3xl tracking-wider text-center"
                >
                    4. Simulation Speed
                </h1>
                <div class="w-full px-4">
                    <input
                        type="range"
                        id="speedSlider"
                        class="w-full h-3 bg-white rounded-lg appearance-none cursor-pointer"
                        min="1"
                        max="10"
                        value="4"
                        step="1"
                    />
                    <div
                        class="flex justify-between text-2xl lucida-bright mt-4 text-gray-300"
                    >
                        <span>Slow</span>
                        <span id="speedValue">Medium</span>
                        <span>Fast</span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="flex flex-row-reverse gap-8 items-center justify-center w-fit">
        <form
            method="POST"
            action="/simulate/simulation"
            id="simulationForm"
            class="flex justify-center"
        >
            <input type="hidden" name="botCount" id="selectedBotCount" />
            <input type="hidden" name="selectedBots" id="selectedBotsInput" />
            <input
                type="hidden"
                name="targetLimit"
                id="selectedLimit"
                value="37"
            />
            <input
                type="hidden"
                name="simulationSpeed"
                id="selectedSpeed"
                value="100"
            />

            <button
                type="submit"
                class="button-link text-3xl uppercase hover:opacity-75 lucida-bright tracking-widest px-12 py-4"
            >
                Start Simulation
            </button>
        </form>
        <a
            href="/"
            class="button-link text-3xl uppercase hover:opacity-75 lucida-bright tracking-widest px-12 py-4"
            >Go Back</a
        >
    </div>
</div>

{% include 'components/house-icons.html' %}

<script
    type="module"
    src="../../../../static/scripts/configure-simulation.js"
></script>

<script></script>
{% endblock %}
