{% extends 'layouts/home_layout.html' %} {% block title %}House of Cards | PvP{%
endblock %} {% block content %}
<div class="non-game-container">
    <div class="flex items-center justify-center flex-row gap-6">
        <a
            href="/"
            class="button-link text-4xl tracking-widest flex items-center gap-3 pt-6 pb-5 pl-7 hover:opacity-75"
        >
            <i class="fas fa-arrow-left text-3xl"></i>
        </a>
        <h1 class="harry-potter text-8xl title tracking-widest">
            C<span class="text-6xl">ɸ</span>nfigure $imulati<span
                class="text-6xl"
                >ɸ</span
            >n
        </h1>
    </div>
    <div class="flex flex-col gap-6 items-center justify-center">
        <h1 class="lucida-bright uppercase text-5xl tracking-wider mb-6">
            Choose number of Bots
        </h1>
        <select
            id="botCount"
            class="button-link text-3xl uppercase hover:opacity-75 lucida-bright tracking-widest"
        >
            <option value="">Number of bots &nbsp;</option>
            <option value="2">2 Bots</option>
            <option value="3">3 Bots</option>
            <option value="4">4 Bots</option>
        </select>
        <h1 class="lucida-bright uppercase text-5xl tracking-wider mt-12 mb-6">
            Choose bots to simulate
        </h1>
        <div class="flex gap-10 flex-wrap justify-center mb-6">
            <label class="bot-option">
                <input type="checkbox" value="crookshanks" hidden />
                <img
                    src="/static/icons/x_color_crookshanks.png"
                    class="bot-img p-2 w-36 h-36"
                />
            </label>

            <label class="bot-option">
                <input type="checkbox" value="dobby" hidden />
                <img
                    src="/static/icons/x_color_dobby.png"
                    class="bot-img p-2 w-36 h-36"
                />
            </label>

            <label class="bot-option">
                <input type="checkbox" value="hedwig" hidden />
                <img
                    src="/static/icons/x_color_hedwig.png"
                    class="bot-img p-2 w-36 h-36"
                />
            </label>

            <label class="bot-option">
                <input type="checkbox" value="trevor" hidden />
                <img
                    src="/static/icons/x_color_trevor.png"
                    class="bot-img p-2 w-36 h-36"
                />
            </label>
        </div>
        <form method="POST" action="/simulate/simulation" id="simulationForm">
            <input type="hidden" name="botCount" id="selectedBotCount" />

            <input type="hidden" name="selectedBots" id="selectedBotsInput" />

            <button
                type="submit"
                class="button-link text-3xl uppercase hover:opacity-75 lucida-bright tracking-widest"
            >
                Start Simulation
            </button>
        </form>
    </div>
</div>

<img
    id="gryffindor"
    src="/static/icons/color_gryffindor.png"
    class="house-icon w-48 h-48 absolute"
/>
<img
    id="hufflepuff"
    src="/static/icons/color_hufflepuff.png"
    class="house-icon w-48 h-48 absolute"
/>
<img
    id="ravenclaw"
    src="/static/icons/color_ravenclaw.png"
    class="house-icon w-48 h-48 absolute"
/>
<img
    id="slytherin"
    src="/static/icons/color_slytherin.png"
    class="house-icon w-48 h-48 absolute"
/>

<script type="module" src="../../../../static/scripts/house-icons.js"></script>
<script
    type="module"
    src="../../../../static/scripts/configure-simulation.js"
></script>
{% endblock %}
